/* CUSTOM PROPS */
:root[data-theme="light"] {
  --color-light-blue: #e0e8ff;
  --color-blueish-white: #f7f9ff;
  --color-dark-blue: #1f2e55;
  --color-blue-grey: #717fa6;
  --color-purple-blue: #382ae1;
  --color-purple-light: #766cf1;
  --color-white: #fff;


  --color-primary-bg: var(--color-light-blue);
  --color-secondary-bg: var(--color-blueish-white);
  --color-card-bg: var(--color-white);

  --color-accent-text: var(--color-dark-blue);
  --color-body-text: var(--color-blue-grey);

  --color-primary: var(--color-purple-blue);
  --color-primary-hover: var(--color-purple-light);

  --card-box-shadow: 0px 40px 40px -20px rgba(13, 48, 189, 0.15);
  --button-box-shadow: 0px 20px 20px 0px rgba(56, 42, 225, 0.19);
}


/* GLOBAL */
body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-family: "Red Hat Display", "Arial", sans-serif;
  font-size: 0.9375rem;
  font-weight: 500;
  line-height: 166.667%;
  background-color: var(--color-primary-bg);
  color: var(--color-body-text);
}

img {
  height: auto;
}

a {
  font-size: 0.9375rem;
  font-weight: 900;
  line-height: normal;
  color: var(--color-blue-grey);
  text-decoration: none;
}

a:hover {
  color: var(--color-accent-text);
}

*:focus {
  outline: 2px dashed var(--color-primary);
  outline-offset: 3px;
}


/* AUTOFILL-STYLES */
/*input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}*/


/* PLACEHOLDER-STYLES */
/*::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgba(52, 49, 61, 0.5);
  opacity: 1;
}*/


/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}
